:root {
  --width: 64px;
  --x-speed: 5s;
  --y-speed: 3s;
  --transition-speed: 2.2s;
}

.particle { 
  width: var(--width);
  height: var(--width);
}


@keyframes x {
  0% {
  	transform: translateX(0);
  }
  50% {
    transform: translateX(calc(100vw - var(--width)));
  }
  100% {
  	transform: translateX(0);
  }
}
@keyframes y {
  0% {
  	transform: translateY(0);
  }
  50% {
    transform: translateY(calc(100vh - var(--width)));
  }
  100% {
  	transform: translateY(0);
  }
}



@keyframes shake {
  0% { transform: translate(10px, 10px) rotate(00deg); }
  10% { transform: translate(-10px, -20px) rotate(-10deg); }
  20% { transform: translate(-30px, 00px) rotate(10deg); }
  30% { transform: translate(30px, 20px) rotate(00deg); }
  40% { transform: translate(10px, -10px) rotate(10deg); }
  50% { transform: translate(-10px, 20px) rotate(-10deg); }
  60% { transform: translate(-30px, 10px) rotate(00deg); }
  70% { transform: translate(30px, 10px) rotate(-10deg); }
  80% { transform: translate(-10px, -10px) rotate(10deg); }
  90% { transform: translate(10px, 20px) rotate(00deg); }
  100% { transform: translate(10px, 10px) rotate(00deg); }
}


html, body, #navbar, #loader-motd, #title {
	font-family: "Comic Sans MS", "Comic Sans", cursive !important;
}


#title {
	color: pink;
}


body#body-index {
	background-image: url("background.gif");
	transition: background-size 1s;
	transition-timing-function: linear;
}

.bigbtn {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	animation: shake 3s linear infinite;
}

.bigbtn:hover * {
	filter: contrast(0) sepia(100) hue-rotate(271deg) contrast(2) brightness(1) !important;
}


.bigbtn-name {
	font-weight: bold;
}


.x {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none
}


#rainbow {
  min-height:100%;
  background: 
   linear-gradient(rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/100% 200%;
   animation: a 0.5s linear infinite;
}

@keyframes a {
  to {background-position:0 -200%}
}
